@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");


h1 {
	font-size: 35px;
	color: blue;
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-weight: 300;
}

p {
	font-size: 25px;
	color: red;
	font-family: "BPG Banner", sans-serif;
}

h2{ 
	font-size: 40px;
	font-family: 'Bebas Neue', sans-serif;
}